{% load static %}
<header
  class="navbar navbar-header navbar-header-fixed"
  style="background-color: "
>
  <a href="" id="sidebarMenuOpen" class="burger-menu"
    ><i data-feather="menu"></i
  ></a>
  <div class="navbar-brand">
    <a href="" class="df-logo">News<span>Daily</span></a>
  </div>
  <!-- navbar-brand -->

  <div id="navbarMenu" class="navbar-menu-wrapper">
    <ul class="nav navbar-menu">
      <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
      <li class="nav-item">
        <a href="" class="nav-link"><i data-feather="box"></i> Latest</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link"><i data-feather="box"></i> Sports</a>
      </li>

      <li class="nav-item">
        <a href="" class="nav-link"><i data-feather="box"></i> Politics</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link"
          ><i data-feather="archive"></i> International</a
        >
      </li>
    </ul>
  </div>
  <!-- navbar-menu-wrapper -->

  <div class="navbar-right">
    <a
      href="{% url 'login_page' %}"
      class="ml-auto btn btn-primary"
      value="click"
      onclick=""
      >Login</a
    >

    <div class="dropdown dropdown-profile">
      <a
        href=""
        class="dropdown-link"
        data-toggle="dropdown"
        data-display="static"
      >
        <div class="avatar avatar-sm avatar-online">
          <span class="avatar-initial rounded-circle"> </span>
        </div> </a
      ><!-- dropdown-link -->
      <div class="dropdown-menu dropdown-menu-right tx-13">
        <div class="avatar avatar-lg avatar-online mg-b-15">
          <span class="avatar-initial rounded-circle"> </span>
        </div>
        <h6 class="tx-semibold mg-b-5"></h6>
        <p class="mg-b-25 tx-12 tx-color-03"></p>

        <div class="dropdown-divider"></div>

        <a href="{% url 'logoutuser' %}" class="dropdown-item"
          ><i data-feather="log-out"></i>Sign Out</a
        >
      </div>
      <!-- dropdown-menu -->
    </div>
    <!-- dropdown -->
  </div>
  <!-- navbar-right -->
</header>
<!-- navbar -->
